@using Core.Data.Enums
@using Core.Utilities.Extensions

<div class="modal fade" id="ic_modal_wallet_list">
    <div class="modal-dialog modal-dialog-centered mw-500px">
        <div class="modal-content rounded">
            <div class="modal-header pb-0 border-0 justify-content-end">
                <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
                    <span class="svg-icon svg-icon-1">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                            <g transform="translate(12.000000, 12.000000) rotate(-45.000000) translate(-12.000000, -12.000000) translate(4.000000, 4.000000)" fill="#000000">
                                <rect fill="#000000" x="0" y="7" width="16" height="2" rx="1" />
                                <rect fill="#000000" opacity="0.5" transform="translate(8.000000, 8.000000) rotate(-270.000000) translate(-8.000000, -8.000000)" x="0" y="7" width="16" height="2" rx="1" />
                            </g>
                        </svg>
                    </span>
                </div>
            </div>
            <div class="modal-body scroll-y px-10 px-lg-15 pt-0 pb-10">
                <form class="form w-100">
                    <div class="text-center mb-6">
                        <h2 class="mb-3">Wallet List</h2>
                        <p>Please select a wallet to connect to this marketplace</p>
                    </div>
                    @Html.AntiForgeryToken()
					<div class="row">
						<div class="col-sm-6">
                           
                            <div class="d-flex align-items-center justify-content-center">

                                <a href="javascript:void(0)"><img id="wallet-connect-metamask" width="100%" src="~/images/icon/metamask.png" /></a>

                            </div>
                           
                            
						</div>
                        <div class="col-sm-6">

                            <div class="d-flex align-items-center justify-content-center">

                                <a href="javascript:void(0)"><img id="wallet-connect-trust" width="100%" src="~/images/icon/trustwallet.png" /></a>
                            </div>

                        </div>
					</div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="ic_modal_wallet_install">
    <div class="modal-dialog modal-dialog-centered mw-500px">
        <div class="modal-content rounded">
            <div class="modal-header pb-0 border-0 justify-content-end">
                <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
                    <span class="svg-icon svg-icon-1">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                            <g transform="translate(12.000000, 12.000000) rotate(-45.000000) translate(-12.000000, -12.000000) translate(4.000000, 4.000000)" fill="#000000">
                                <rect fill="#000000" x="0" y="7" width="16" height="2" rx="1" />
                                <rect fill="#000000" opacity="0.5" transform="translate(8.000000, 8.000000) rotate(-270.000000) translate(-8.000000, -8.000000)" x="0" y="7" width="16" height="2" rx="1" />
                            </g>
                        </svg>
                    </span>
                </div>
            </div>
            <div class="modal-body scroll-y px-10 px-lg-15 pt-0 pb-10">
                <form class="form w-100">
                    <div class="text-center mb-6">
                        <h2 class="mb-3 lblerrordapp">You have not installed DAPP, please install DAPP</h2>
                    </div>
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-sm-12">

                            <div class="d-flex align-items-center justify-content-center">
                                <a id="linkProvider" target="_blank" rel="noreferrer noopener" href="#" class="btn btn-warning text-black">Install now</a>
                            </div>

                        </div>
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
