@model ResetPasswordViewModel

@{
    Layout = "_LayoutAccount";
    ViewBag.Title = "Reset password";
}

@section Scripts{
    <script src="~/admin-app/controllers/account/reset-password.js" asp-append-version="true"></script>
    <script>
        var resetPassword = new ResetPasswordController();
        resetPassword.initialize();
    </script>
}


<div class="card rounded-3 w-md-450px card-background-ct">
    <div class="card-body p-9 p-lg-12">
        <form method="post" action="#" class="form w-100">

            @Html.AntiForgeryToken()

            <input type="hidden" value="@Model.Code" id="hdCode">

            <div class="text-center mb-7">
                <h2 class="text-dark fw-bolder mb-3">Reset password</h2>
                <div class="text-gray-500 fw-semibold fs-6">Enter new password access your account</div>
            </div>

            <div class="fv-row mb-5">
                <label class="form-label">Email</label>
                <input type="email" id="txtEmail"
                       class="form-control bg-transparent" autocomplete="off"
                       placeholder="Enter your email address">
            </div>

            <div class="fv-row mb-5">
                <label class="form-label">Password</label>
                <input type="password" id="txtPassword"
                       class="form-control bg-transparent" autocomplete="off"
                       placeholder="Enter your password">
            </div>

            <div class="fv-row mb-5">
                <label class="form-label">Confirm Password</label>
                <input type="password" id="txtConfirmPassword"
                       class="form-control bg-transparent" autocomplete="off"
                       placeholder="Enter your password">
            </div>


            <div class="d-grid mb-10">
                <button type="button" id="btnResetPassword" class="btn btn-primary">
                    <span class="indicator-label">Submit</span>
                </button>
            </div>

            <div class="text-gray-500 text-center fw-semibold fs-6">
                Already have an account ? <a href="/login" class="link-primary">Sign in now !</a>
            </div>
        </form>
    </div>
</div>