@{
    Layout = "_LayoutAccount";
}

<div class="card rounded-3 w-md-450px card-background-ct">
    <div class="card-body p-9 p-lg-12">
        <form method="post" action="#" class="form w-100">

            <div class="text-center mb-7">
                <h2 class="text-dark fw-bolder mb-3">Password is changed</h2>
                <div class="text-gray-700 fw-semibold fs-6">
                    Your password is successfully changed. Please Sign
                    <br>in to your account and start join ecosystem.
                </div>
            </div>

            <div class="text-gray-500 text-center fw-semibold fs-6">
                Already have an account ? <a href="/login" class="link-primary">Sign in now !</a>
            </div>
        </form>
    </div>
</div>