<footer class="footer style-1">
    <div class="footer__top">
        <div class="container">
            <div class="row">
                <div class="col-xl-7 col-md-12">
                    <div class="content-left">
                        <h5 class="fs-22">Don't miss out, Stay updated</h5>
                        <p>Don’t hesitate to subscribe to latest news about CoinBest247</p>

                        <form action="#" id="subscribe-form">
                            <input type="email" placeholder="Enter your email" required="" id="subscribe-email">
                            <button class="btn-action style-2" type="submit" id="subscribe-button"> <span class="effect">SUBSCRIBE</span></button>
                        </form>
                    </div>
                </div>
                <div class="col-xl-5 col-md-12">
                    <div class="content-right">
                        <p>
                            Don't hesitate to subscribe to latest news about crypto markets
                            as well as crucial financial knowledge to become successful investors globally
                        </p>
                        <ul class="list-social">
                            <li><a href="https://twitter.com/coinbest247" target="_blank"><span class="icon-twitter"></span></a></li>
                            <li><a href="https://www.facebook.com/coinbest247" target="_blank"><span class="icon-facebook"></span></a></li>
                            <li><a href="https://t.me/coinbest247official" target="_blank"><span class="icon-place"></span></a></li>
                            <li><a href="https://t.me/coinbest247community" target="_blank"><span class="icon-place"></span></a></li>
                            <li><a href="https://www.youtube.com/@@CoinBest247Official" target="_blank"><span class="icon-youtobe"></span></a></li>
                            <li><a href="https://www.linkedin.com/company/coinbest247official" target="_blank"><span class="icon-LinkedIn"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>© 2023. All rights reserved by CoinBest247</p>
                </div>
            </div>
        </div>
    </div>
</footer>