<div class="card">
    <div class="card-header py-5">
        <h3 class="card-title align-items-center flex-column w-100">
            <span class="card-label fw-bold text-primary fs-3">Claim Daily Reward</span>
            <span class="text-dark pt-2 fw-bold fs-5">
                Get 1,000 Shiba Inu & 1,000 @(CommonConstants.TOKEN_CODE)
            </span>
        </h3>
    </div>
    <div class="card-body">
        <div class="row align-items-center text-center h-100">
            <div class="col-xl-12">
                <div class="gap-2">
                    <a href="javascript:void(0)" id="btnClaim" class="btn btn-primary flex-shrink-0">Claim Now</a>
                    <p id="claimCountdown">
                        <div class="jumbotron countdown show">
                            <div class="running">
                                <timer>
                                    <span class="hours"></span><span class="minutes"></span><span class="seconds"></span>
                                </timer>
                                <div class="break"></div>
                                <div class="labels">
                                    <span>Hours</span><span>Minute</span><span>Second</span>
                                </div>
                            </div>
                        </div>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>