<div class="row gx-5 gx-xl-10">
    <div class="col-xl-12 mb-5 mb-xl-5">
        <div class="card">
            <div class="card-header pt-5">
                <h4 class="card-title align-items-start flex-column">
                    <span class="card-label fw-bold fs-5">Strategic Partnership</span>
                    <span class="text-gray-400 mt-1 fw-semibold fs-6">Partner list</span>
                </h4>

            </div>
            <div class="card-body">
                <div class="d-flex flex-center flex-wrap position-relative">
                    <div class="d-flex flex-center m-3 m-md-3" data-kt-initialized="1">
                        <img src="~/images/logo-partner/binnace.png" class="mh-25px mh-lg-30px" />
                    </div>
                    <div class="d-flex flex-center m-3 m-md-3" data-kt-initialized="1">
                        <img src="~/images/logo-partner/BscScan-logo.png" class="mh-30px mh-lg-30px" />
                    </div>
                    <div class="d-flex flex-center m-3 m-md-3" data-kt-initialized="1">
                        <img src="~/images/logo-partner/amun.png" class="mh-30px mh-lg-30px" />
                    </div>
                    <div class="d-flex flex-center m-3 m-md-3" data-kt-initialized="1">
                        <img src="~/images/logo-partner/Coinblaze.png" class="mh-30px mh-lg-30px" />
                    </div>
                    <div class="d-flex flex-center m-3 m-md-3" data-kt-initialized="1">
                        <img src="~/images/logo-partner/CoinCapNews.png" class="mh-25px mh-lg-30px" />
                    </div>
                    <div class="d-flex flex-center m-3 m-md-3" data-kt-initialized="1">
                        <img src="~/images/logo-partner/coincronica.png" class="mh-30px mh-lg-40px" />
                    </div>
                    <div class="d-flex flex-center m-3 m-md-3" data-kt-initialized="1">
                        <img src="~/images/logo-partner/coinedict.png" class="mh-30px mh-lg-30px" />
                    </div>
                    <div class="d-flex flex-center m-3 m-md-3" data-kt-initialized="1">
                        <img src="~/images/logo-partner/coingecko.png" class="mh-35px mh-lg-40px" />
                    </div>
                    <div class="d-flex flex-center m-3 m-md-3" data-kt-initialized="1">
                        <img src="~/images/logo-partner/coinmarketcap.png" class="mh-35px mh-lg-40px" />
                    </div>
                    <div class="d-flex flex-center m-3 m-md-3" data-kt-initialized="1">
                        <img src="~/images/logo-partner/Coinomi-logo.png" class="mh-35px mh-lg-50px" />
                    </div>
                    <div class="d-flex flex-center m-3 m-md-3" data-kt-initialized="1">
                        <img src="~/images/logo-partner/coinquora.png" class="mh-25px mh-lg-30px" />
                    </div>
                    <div class="d-flex flex-center m-3 m-md-3" data-kt-initialized="1">
                        <img src="~/images/logo-partner/cryptoate.png" class="mh-30px mh-lg-40px" />
                    </div>
                    <div class="d-flex flex-center m-3 m-md-3" data-kt-initialized="1">
                        <img src="~/images/logo-partner/CryptoCompass.png" class="mh-30px mh-lg-30px" />
                    </div>
                    <div class="d-flex flex-center m-3 m-md-3" data-kt-initialized="1">
                        <img src="~/images/logo-partner/cryptocurrencyfinancial.png" class="mh-30px mh-lg-30px" />
                    </div>
                    <div class="d-flex flex-center m-3 m-md-3" data-kt-initialized="1">
                        <img src="~/images/logo-partner/cryptonode.png" class="mh-30px mh-lg-30px" />
                    </div>
                    <div class="d-flex flex-center m-3 m-md-3" data-kt-initialized="1">
                        <img src="~/images/logo-partner/defiplanet.png" class="mh-20px mh-lg-30px" />
                    </div>
                    <div class="d-flex flex-center m-3 m-md-3" data-kt-initialized="1">
                        <img src="~/images/logo-partner/Hashnews.png" class="mh-25px mh-lg-30px" />
                    </div>
                    <div class="d-flex flex-center m-3 m-md-3" data-kt-initialized="1">
                        <img src="~/images/logo-partner/Icoinsider.png" class="mh-30px mh-lg-30px" />
                    </div>
                    <div class="d-flex flex-center m-3 m-md-3" data-kt-initialized="1">
                        <img src="~/images/logo-partner/kryptort.png" class="mh-30px mh-lg-40px" />
                    </div>
                    <div class="d-flex flex-center m-3 m-md-3" data-kt-initialized="1">
                        <img src="~/images/logo-partner/KuCoin.png" class="mh-30px mh-lg-30px" />
                    </div>
                    <div class="d-flex flex-center m-3 m-md-3" data-kt-initialized="1">
                        <img src="~/images/logo-partner/mexc_logo.png" class="mh-30px mh-lg-30px" />
                    </div>
                    <div class="d-flex flex-center m-3 m-md-3" data-kt-initialized="1">
                        <img src="~/images/logo-partner/pancakeswap.png" class="mh-30px mh-lg-30px" />
                    </div>
                    <div class="d-flex flex-center m-3 m-md-3" data-kt-initialized="1">
                        <img src="~/images/logo-partner/pentaxcoin.png" class="mh-30px mh-lg-30px" />
                    </div>
                    <div class="d-flex flex-center m-3 m-md-3" data-kt-initialized="1">
                        <img src="~/images/logo-partner/tradingview.png" class="mh-30px mh-lg-30px" />
                    </div>
                    <div class="d-flex flex-center m-3 m-md-3" data-kt-initialized="1">
                        <img src="~/images/logo-partner/Uniswap.png" class="mh-30px mh-lg-30px" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

