@{ 
    ViewBag.Title = "Request Status";
}

@section Styles{
    <link href="~/admin-app/controllers/request-status/index.css" rel="stylesheet" />
}

@section Scripts{

    <script src="~/admin-app/controllers/request-status/index.js"></script>

    <script>
        var requestStatusObj = new RequestStatusController();
        requestStatusObj.initialize();
    </script>
}

<div class="d-flex flex-column flex-column-fluid">

    @await Html.PartialAsync("_ToolbarPartial")

    <div id="kt_app_content" class="app-content flex-column-fluid pt-6 pt-lg-10">
        <div id="kt_app_content_container" class="app-container container-xxl">
            <div class="row gx-5 gx-xl-10">
                <div class="col-xl-12 mb-5 mb-xl-10">
                    <div class="card">
                        <div class="card-header pt-5">
                            <div class="card-toolbar">
                                <div class="d-flex flex-stack flex-wrap gap-4">
                                    <div class="position-relative my-1">
                                        <span class="svg-icon svg-icon-2 position-absolute top-50 translate-middle-y ms-4">
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor" />
                                                <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor" />
                                            </svg>
                                        </span>
                                        <input type="text" class="form-control form-control-solid form-control-sm
                                    w-150px fs-7 ps-12" id="txt-search-keyword" placeholder="Search keyword" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
                                    <thead>
                                        <tr class="fw-bolder text-muted">
                                            <th class="min-w-90px">
                                                <span class="d-block">Sponsor</span>
                                                <span class="d-block">Email</span>
                                            </th>
                                            <th class="min-w-125px">Amount</th>
                                            <th class="min-w-125px">
                                                <span class="d-block">Fee</span>
                                                <span class="d-block">Fee Amount</span>
                                            </th>
                                            <th class="min-w-125px">Amount Receive</th>
                                            <th class="">
                                                <span class="d-block">Address From</span>
                                                <span class="d-block">Address To</span>
                                            </th>
                                            <th>Type</th>
                                            <th>Status</th>
                                            <th class="min-w-125px">
                                                <span class="d-block">Created Date</span>
                                                <span class="d-block">Updated Date</span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbl-content"></tbody>
                                </table>
                            </div>
                            @await Component.InvokeAsync("Paging")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script id="table-template" type="x-tmpl-mustache">
    <tr>
        <td>
            <span class="fw-bold text-gray-700 d-block fs-7">{{Sponsor}}</span>
            <span class="fw-bold text-dark d-block fs-7">{{UserName}}</span>
        </td>
        <td>
            <span class="fw-bold text-dark d-block fs-7">{{Amount}} <span class="text-gray-700 fs-8">{{UnitName}}</span></span>
        </td>
        <td>
            <span class="fw-bold d-block fs-7">{{Fee}}<span class="text-gray-700 fs-8">%</span></span>
            <span class="fw-bold text-dark d-block fs-7">{{FeeAmount}} <span class="text-gray-700 fs-8">{{UnitName}}</span></span>
        </td>
        <td>
            <span class="fw-bold text-dark d-block fs-7">{{AmountReceive}} <span class="text-gray-700 fs-8">{{UnitName}}</span></span>
        </td>
        <td>
            <span class="fw-bold text-gray-700 d-block fs-7">{{AddressFrom}}</span>
            <span class="fw-bold text-gray-700 d-block fs-7">{{AddressTo}}</span>
        </td>
        <td>
            <span class="fw-bold text-dark d-block fs-7">{{TypeName}}</span>
        </td>
        <td>
            <span class="fw-bold d-block">{{{StatusName}}}</span>
        </td>
        <td>
            <span class="fw-bold text-muted d-block fs-7">{{DateCreated}}</span>
            <span class="fw-bold text-muted d-block fs-7">{{DateUpdated}}</span>
        </td>
    </tr>
</script>

