<section class="tf-section project" id="Airdrop">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="tf-title" data-aos="fade-up" data-aos-duration="800">
                    <h2 class="title">
                        Airdrop to Earn @*<br class="show-destop"> coming soon*@
                    </h2>
                </div>
            </div>
            <div class="col-md-12">
                <div class="project-wrapper">
                    <div class="image-wrapper" data-aos="fade-in" data-aos-duration="1000">
                        <div class="swiper-container slider-1">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img src="~/images/background/background2.webp" />
                                </div>
                                <div class="swiper-slide">
                                    <img src="~/images/background/background3.webp" />
                                </div>
                                <div class="swiper-slide">
                                    <img src="~/images/background/background4.webp" />
                                </div>
                                <div class="swiper-slide">
                                    <img src="~/images/background/background5.webp" />
                                </div>
                                <div class="swiper-slide">
                                    <img src="~/images/background/background1.webp" />
                                </div>
                            </div>
                            <div class="swiper-pagination bottom_0"></div>
                        </div>
                    </div>
                    <div class="content-wrapper">
                        <div class="content_inner" data-aos="fade-left" data-aos-duration="1200">
                            <div class="wrapper">
                                <h4>Get USDT & @(CommonConstants.TOKEN_CODE)</h4>
                                <p class="desc">
                                    complete simple tasks by following our communication channels you will get $10 and 10 BOS instantly to Wallet USDT & Wallet @CommonConstants.TOKEN_CODE
                                </p>
                                <ul class="price">
                                    <li>
                                        <span>Price: $0.1/@(CommonConstants.TOKEN_CODE)</span>
                                    </li>
                                    <li>
                                        <span>Total Airdrop: $20,000 & 20,000 @(CommonConstants.TOKEN_CODE)</span>
                                    </li>
                                </ul>
                                @*<h6 class="featured_title">Event start on</h6>
                                <div class="featured-countdown">
                                    <span class="slogan"></span>
                                    <span class="js-countdown" data-countdown="2023-03-20"></span>
                                    <ul class="desc">
                                        <li>day</li>
                                        <li>hou</li>
                                        <li>min</li>
                                        <li>sec</li>
                                    </ul>
                                </div>*@
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

@*<section class="tf-section three_step">
    <div class="overlay">
        <img src="~/client-side/boscapital/assets/images/backgroup/bg_partner.png" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="tf-title mb46 left" data-aos="fade-up" data-aos-duration="800">
                    <h2 class="title">
                        Easy to join IGO <br class="show-destop">
                        with 3 steps
                    </h2>
                </div>
                <div class="wrap-box">
                    <div class="icon-box-style3">
                        <div class="icon">
                            <img src="~/client-side/boscapital/assets/images/common/icon_9.png" alt="">
                        </div>
                        <div class="content">
                            <h5 class="title">Submit KYC</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at nunc non ligula suscipit tincidunt at sit amet nunc.</p>
                        </div>
                        <img class="icon_bottom" src="~/client-side/boscapital/assets/images/common/Line.png" alt="">
                    </div>
                    <div class="icon-box-style3">
                        <div class="icon">
                            <img src="~/client-side/boscapital/assets/images/common/icon_10.png" alt="">
                        </div>
                        <div class="content">
                            <h5 class="title">Verify Wallet</h5>
                            <p>Etiam nisi libero, sodales sit amet justo ac, suscipit maximus metus. Semper nec interdum nec, faucibus id dui sit amet congue</p>
                        </div>
                        <img class="icon_bottom" src="~/client-side/boscapital/assets/images/common/Line.png" alt="">
                    </div>
                    <div class="icon-box-style3">
                        <div class="icon">
                            <img src="~/client-side/boscapital/assets/images/common/icon_11.png" alt="">
                        </div>
                        <div class="content">
                            <h5 class="title">Start Staking</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at nunc non ligula suscipit tincidunt at sit amet nunc.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="image pt30">
                    <img src="~/client-side/boscapital/assets/images/common/img_step.png" class="move5" alt="">
                </div>
            </div>
        </div>
    </div>
</section>*@