<section class="document style-1" id="document">
    <div class="container">
        <div class="row">
            <div class="document__main">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block-text center">
                            <h3 class="heading">Document</h3>
                            <p class="desc">
                                Here is our full documents that help you to understand deeply about us and our operation
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="document__content">
                            <div class="box-document">
                                <div class="content">
                                    <h4 class="title">DOCUMENT</h4>
                                    <a href="https://docs.coinbest247.com/" target="_blank" class="icon">
                                        <img src="~/client-side/coinbest247/assets/images/icon/download.png">
                                    </a>                                                                    
                                </div>                                                                      
                            </div>
                            <div class="box-document">                                                      
                                <div class="content">                                                       
                                    <h4 class="title">WHITE PAPER</h4>                                      
                                    <a href="~/whitepaper/coinbest247.pdf" class="icon" target="_blank">
                                        <img src="~/client-side/coinbest247/assets/images/icon/download.png">
                                    </a>                                                                    
                                </div>                                                                      
                            </div>                                                                          
                            <div class="box-document">                                                      
                                <div class="content">                                                       
                                    <h4 class="title">GITHUB</h4>                                            
                                    <a href="#" class="icon">                                               
                                        <img src="~/client-side/coinbest247/assets/images/icon/download.png">
                                    </a>                                                                    
                                </div>                                                                      
                            </div>                                                                          
                            <div class="box-document">                                                      
                                <div class="content">                                                       
                                    <h4 class="title">SMART CONTRACT</h4>                                   
                                    <a href="https://bscscan.com/token/0x701C663C974668B01C654f5AcedF4798b3CB1224" target="_blank" class="icon">
                                        <img src="~/client-side/coinbest247/assets/images/icon/download.png">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>