<section class="tf-section tf_partner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="tf-title" data-aos="fade-up" data-aos-duration="800">
                    <h2 class="title">
                        Our Partners
                    </h2>
                </div>
            </div>
            <div class="col-md-12">
                <div class="partner-wrapper" data-aos="fade-up" data-aos-duration="800">
                    <a href="#" class="image">
                        <img src="~/client-side/boscapital/assets/images/partner/01.png" alt="">
                    </a>
                    <a href="#" class="image ">
                        <img class="active" src="~/client-side/boscapital/assets/images/partner/02.png" alt="">
                    </a>
                    <a href="#" class="image">
                        <img src="~/client-side/boscapital/assets/images/partner/03.png" alt="">
                    </a>
                    <a href="#" class="image">
                        <img src="~/client-side/boscapital/assets/images/partner/04.png" alt="">
                    </a>
                    <a href="#" class="image">
                        <img src="~/client-side/boscapital/assets/images/partner/05.png" alt="">
                    </a>
                    <a href="#" class="image">
                        <img src="~/client-side/boscapital/assets/images/partner/06.png" alt="">
                    </a>
                    <a href="#" class="image">
                        <img src="~/client-side/boscapital/assets/images/partner/07.png" alt="">
                    </a>
                    <a href="#" class="image">
                        <img src="~/client-side/boscapital/assets/images/partner/08.png" alt="">
                    </a>
                    <a href="#" class="image">
                        <img src="~/client-side/boscapital/assets/images/partner/09.png" alt="">
                    </a>
                    <a href="#" class="image">
                        <img src="~/client-side/boscapital/assets/images/partner/10.png" alt="">
                    </a>
                    <a href="#" class="image">
                        <img src="~/client-side/boscapital/assets/images/partner/11.png" alt="">
                    </a>
                    <a href="#" class="image">
                        <img src="~/client-side/boscapital/assets/images/partner/12.png" alt="">
                    </a>
                    <a href="#" class="image style">
                    </a>
                    <a href="#" class="image">
                        <img src="~/client-side/boscapital/assets/images/partner/13.png" alt="">
                    </a>
                    <a href="#" class="image">
                        <img src="~/client-side/boscapital/assets/images/partner/14.png" alt="">
                    </a>
                    <a href="#" class="image">
                        <img src="~/client-side/boscapital/assets/images/partner/15.png" alt="">
                    </a>
                    <a href="#" class="image">
                        <img src="~/client-side/boscapital/assets/images/partner/16.png" alt="">
                    </a>
                    <a href="#" class="image style">
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>