<section class="road-map style-1" id="roadmap">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block-text" data-aos="fade-up" data-aos-duration="1000">
                    <h3 class="heading">Roadmap</h3>
                    <p>The most technologically advanced species will not stop any time soon...</p>
                </div>

                <div class="road-map__content">
                    <div class="box-roadmap">
                        <div class="box-roadmap__top">
                            <h6>01/03/2023</h6>
                            <div class="shape active"></div>
                        </div>
                        <div class="box-roadmap__main">
                            <div class="text"><p>Website building, social building, partner connection, community connection</p></div>
                        </div>
                    </div>
                    <div class="box-roadmap">
                        <div class="box-roadmap__top">
                            <h6>19/05/2023</h6>
                            <div class="shape"></div>
                        </div>
                        <div class="box-roadmap__main">
                            <div class="text"><p>Launch Claim To Earn</p></div>
                            <div class="text"><p>Affiliate Agent</p></div>
                            <div class="text"><p>Invest BOT Trade AI</p></div>
                            <div class="text"><p>Sale B247 Token</p></div>
                            <div class="text"><p>Borrowing</p></div>
                            <div class="text"><p>Launch Staking By PI</p></div>
                        </div>
                    </div>
                    <div class="box-roadmap">
                        <div class="box-roadmap__top">
                            <h6>09/11/2023</h6>
                            <div class="shape"></div>
                        </div>
                        <div class="box-roadmap__main">
                            <div class="text"><p>Launch Future Trade</p></div>
                        </div>
                    </div>
                    <div class="box-roadmap">
                        <div class="box-roadmap__top">
                            <h6>01/12/2023</h6>
                            <div class="shape"></div>
                        </div>
                        <div class="box-roadmap__main">
                            <div class="text"><p>List B247 token on Pancake Swap</p></div>
                        </div>
                    </div>
                    <div class="box-roadmap">
                        <div class="box-roadmap__top">
                            <h6>15/03/2024</h6>
                            <div class="shape"></div>
                        </div>
                        <div class="box-roadmap__main">
                            <div class="text"><p>List B247 token on MEXC exchange</p></div>
                        </div>
                    </div>
                    <div class="box-roadmap">
                        <div class="box-roadmap__top">
                            <h6>01/06/2024</h6>
                            <div class="shape"></div>
                        </div>
                        <div class="box-roadmap__main">
                            <div class="text"><p>List B247 token on Coingecko, Coinmarketcap</p></div>
                        </div>
                    </div>
                    <div class="box-roadmap">
                        <div class="box-roadmap__top">
                            <h6>01/10/2024</h6>
                            <div class="shape"></div>
                        </div>
                        <div class="box-roadmap__main">
                            <div class="text"><p>Launch GameFi, Play To Earn</p></div>
                            <div class="text"><p>NFT Marketplace</p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
