<section class="page-title">
    <div class="icon_bg">
        @*<img src="~/client-side/boscapital/assets/images/backgroup/bg_inner_slider3.png" alt="">*@
    </div>
    <div class="swiper-container slider-main">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="slider-st1">
                    <div class="overlay">
                        <img src="~/client-side/boscapital/assets/images//backgroup/bg-slider3.webp" alt="">
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="box-slider">
                                    <div class="content-box">
                                        <h1 class="title">What is <br /><span style=" color: #ca9cee;">@(CommonConstants.PROJECT_NAME)?</span></h1>
                                        <p class="sub-title">
                                            We are a group of technologists from the UK who want to build a decentralized financial ecosystem in the field of Crypto.
                                        </p>
                                        <p class="sub-title">Products such as Bot Trade artificial intelligence AI, Staking, P2P Exchange, Centralized Exchange, help financial users bring a lot of profit.</p>
                                        <div class="wrap-btn">
                                            <a href="/login" class="tf-button style2">
                                                Whitepaper
                                            </a>
                                        </div>
                                    </div>
                                    <div class="image">
                                        <img class="img_main" src="~/client-side/boscapital/assets/images/slider/Furore.webp" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>