<section class="tf-section tf_CTA">

    <div class="container relative">
        <div class="overlay">
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="tf-title left mt58" data-aos="fade-up" data-aos-duration="800">
                    <h2 class="title">
                        Launch on BscScan.com
                    </h2>
                    <p class="sub">Full support during project launch</p>
                    <div class="wrap-btn">
                        <a href="#" class="tf-button style3">
                            Send Now
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="image_cta" data-aos="fade-left" data-aos-duration="1200">
                    <img class="move4" src="~/client-side/boscapital/assets/images/common/Furore.webp" alt="">
                </div>
            </div>
        </div>
    </div>
</section>