<section class="section-team team-8" id="team">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="flat-tabs">
                    <ul class="menu-tab">
                        <li class="active"><div class="image"><img src="~/images/team/christopher_lee.png"></div></li>
                        <li><div class="image"><img src="~/images/team/Edward_Thomas.png"></div></li>
                        <li><div class="image"><img src="~/images/team/SophiaThompson.png"></div></li>
                        <li><div class="image"><img src="~/images/team/Benjamin_James.png"></div></li>
                        <li><div class="image"><img src="~/images/team/Michael_Brown.png"></div></li>
                        <li><div class="image"><img src="~/images/team/Matthew_Jones.png"></div></li>
                        <li><div class="image"><img src="~/images/team/Amelia_Lee.png"></div></li>
                        <li><div class="image"><img src="~/images/team/Isabella_Rodriguez.png"></div></li>
                    </ul>
                    <div class="content-tab">
                        <div class="content-inner">
                            <div class="image">
                                <img src="~/images/team/christopher_lee.png">
                            </div>
                            <div class="content">
                                <div class="block-text">
                                    <h3 class="heading">Executive Team</h3>
                                </div>
                                <div class="info">
                                    <span class="icon-union-01"></span>
                                    <span class="icon-union-02"></span>
                                    <span class="icon-union-03"></span>
                                    <span class="icon-union-04"></span>
                                    <h4 class="name">Christopher Lee</h4>
                                    <p class="position">Founder</p>
                                    <p class="text">Christopher Lee, the UK-based founder of CoinBest247, brings valuable expertise to the cryptocurrency industry. With a focus on security and innovation, Lee has created a user-friendly platform for trading and investing in cryptocurrencies.</p>
                                </div>
                            </div>
                        </div>
                        <div class="content-inner">
                            <div class="image">
                                <img src="~/images/team/Edward_Thomas.png">
                            </div>
                            <div class="content">
                                <div class="block-text">
                                    <h3>Executive Team</h3>
                                </div>
                                <div class="info">
                                    <span class="icon-union-01"></span>
                                    <span class="icon-union-02"></span>
                                    <span class="icon-union-03"></span>
                                    <span class="icon-union-04"></span>
                                    <h4 class="name">Edward Thomas</h4>
                                    <p class="position">CEO</p>
                                    <p class="text">Edward Thomas, the CEO of CoinBest247, brings extensive experience to the table. With a strong background in finance and a deep understanding of the cryptocurrency industry, Thomas leads CoinBest247 with strategic vision and innovation. His leadership ensures the platform's growth and success, providing users with a trusted and user-friendly environment for cryptocurrency trading and investment</p>
                                </div>
                            </div>
                        </div>
                        <div class="content-inner">
                            <div class="image">
                                <img src="~/images/team/SophiaThompson.png">
                            </div>
                            <div class="content">
                                <div class="block-text">
                                    <h3>Executive Team</h3>
                                </div>
                                <div class="info">
                                    <span class="icon-union-01"></span>
                                    <span class="icon-union-02"></span>
                                    <span class="icon-union-03"></span>
                                    <span class="icon-union-04"></span>
                                    <h4 class="name">Sophia Thompson</h4>
                                    <p class="position">CFO</p>
                                    <p class="text">Sophia Thompson, the CFO of CoinBest247, brings extensive financial expertise to the team. With a strong background in financial management and a deep understanding of the cryptocurrency market, Thompson ensures the financial health and stability of CoinBest247. Her strategic financial planning and risk management contribute to the success and growth of the platform, providing users with a secure and reliable environment for their investments</p>
                                </div>
                            </div>
                        </div>
                        <div class="content-inner">
                            <div class="image">
                                <img src="~/images/team/Benjamin_James.png">
                            </div>
                            <div class="content">
                                <div class="block-text">
                                    <h3>Executive Team</h3>
                                </div>
                                <div class="info">
                                    <span class="icon-union-01"></span>
                                    <span class="icon-union-02"></span>
                                    <span class="icon-union-03"></span>
                                    <span class="icon-union-04"></span>
                                    <h4 class="name">Benjamin James</h4>
                                    <p class="position">CIO</p>
                                    <p class="text">Benjamin James, the Chief Information Officer (CIO) of Coinbest247, brings extensive experience in technology and innovation. With a deep understanding of blockchain and digital assets, James spearheads the technological advancements and strategies of Coinbest247. His expertise ensures a cutting-edge platform, providing users with seamless and secure cryptocurrency trading experiences. Under James' leadership, Coinbest247 remains at the forefront of technological advancements in the industry.</p>
                                </div>
                            </div>
                        </div>
                        <div class="content-inner">
                            <div class="image">
                                <img src="~/images/team/Michael_Brown.png">
                            </div>
                            <div class="content">
                                <div class="block-text">
                                    <h3>Executive Team</h3>
                                </div>
                                <div class="info">
                                    <span class="icon-union-01"></span>
                                    <span class="icon-union-02"></span>
                                    <span class="icon-union-03"></span>
                                    <span class="icon-union-04"></span>
                                    <h4 class="name">Michael Brown</h4>
                                    <p class="position">Technical Lead</p>
                                    <p class="text">Michael Brown, the Technical Lead of CoinBest247, brings extensive experience in software development and technical expertise. With a strong background in blockchain technology, Brown leads the technical team in implementing innovative solutions and ensuring a smooth user experience. His proficiency in system architecture and security measures strengthens CoinBest247's platform, providing users with a reliable and efficient trading environment. Under Brown's guidance, CoinBest247 continues to evolve and adapt to the ever-changing cryptocurrency landscape</p>
                                </div>
                            </div>
                        </div>
                        <div class="content-inner">
                            <div class="image">
                                <img src="~/images/team/Matthew_Jones.png">
                            </div>
                            <div class="content">
                                <div class="block-text">
                                    <h3>Executive Team</h3>
                                </div>
                                <div class="info">
                                    <span class="icon-union-01"></span>
                                    <span class="icon-union-02"></span>
                                    <span class="icon-union-03"></span>
                                    <span class="icon-union-04"></span>
                                    <h4 class="name">Matthew Jones</h4>
                                    <p class="position">Technical Lead</p>
                                    <p class="text">Matthew Jones, the Technical Lead (AI) of CoinBest247, brings extensive experience in artificial intelligence and technical innovation. With a deep understanding of machine learning and data analysis, Jones leads the AI team in developing intelligent algorithms and enhancing the platform's capabilities. His expertise in leveraging AI technology ensures CoinBest247 remains at the forefront of innovation, providing users with advanced trading tools and personalized experiences. Under Jones' guidance, CoinBest247 continues to leverage AI to optimize user outcomes and stay ahead in the dynamic cryptocurrency market</p>
                                </div>
                            </div>
                        </div>
                        <div class="content-inner">
                            <div class="image">
                                <img src="~/images/team/Amelia_Lee.png">
                            </div>
                            <div class="content">
                                <div class="block-text">
                                    <h3>Executive Team</h3>
                                </div>
                                <div class="info">
                                    <span class="icon-union-01"></span>
                                    <span class="icon-union-02"></span>
                                    <span class="icon-union-03"></span>
                                    <span class="icon-union-04"></span>
                                    <h4 class="name">Amelia Lee</h4>
                                    <p class="position">Investor & Adviser</p>
                                    <p class="text">Amelia Lee, an Investor and Adviser of CoinBest247, brings extensive experience in the cryptocurrency industry. With a keen eye for investment opportunities and a deep understanding of market trends, Lee provides valuable guidance to the team. Her strategic insights and risk management expertise contribute to CoinBest247's success in maximizing returns for investors. Lee's involvement ensures that CoinBest247 remains at the forefront of the industry, delivering profitable investment solutions to its users</p>
                                </div>
                            </div>
                        </div>
                        <div class="content-inner">
                            <div class="image">
                                <img src="~/images/team/Isabella_Rodriguez.png">
                            </div>
                            <div class="content">
                                <div class="block-text">
                                    <h3>Executive Team</h3>
                                </div>
                                <div class="info">
                                    <span class="icon-union-01"></span>
                                    <span class="icon-union-02"></span>
                                    <span class="icon-union-03"></span>
                                    <span class="icon-union-04"></span>
                                    <h4 class="name">Isabella Rodriguez</h4>
                                    <p class="position">Investor & Adviser</p>
                                    <p class="text">Isabella Rodriguez, an Investor and Adviser of CoinBest247, brings extensive experience and insights to the team. With a strong background in finance and a deep understanding of the cryptocurrency market, Rodriguez offers valuable guidance and strategic advice. Her expertise in investment analysis and risk management contributes to CoinBest247's success in delivering profitable opportunities to its users. Rodriguez's involvement ensures that CoinBest247 remains innovative and responsive to market trends, maximizing returns for investors</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>