<section class="token-details document style-1" id="tokenomics">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block-text center">
                    <h3 class="heading">Tokenomics</h3>
                    <p class="mt-12">
                        Tokenomics is carefully thought out and structured for longevity. It ensures value is accrued for all token holders within the ecosystem. The structure is designed to allow the platform to adapt to new opportunities and challenges alike, with a strong emphasis on the community being the driving force behind its growth.
                    </p>
                </div>
            </div>
        </div>
        <div class="row mt-25">
            <div class="col-md-5">
                <div class="infomation">
                    <ul class="info-list">
                        <li class="active">
                            <h5>Token Name</h5>
                            <p class="fs-17">CoinBest247</p>
                        </li>
                        <li>
                            <h5>Token Symbol</h5>
                            <p class="fs-17">B247</p>
                        </li>
                        <li>
                            <h5>Decimals</h5>
                            <p class="fs-17">18</p>
                        </li>
                        <li>
                            <h5>Max. Supply</h5>
                            <p class="fs-17">1.000.000.000.000.000</p>
                        </li>
                        <li>
                            <h5>Token Platform</h5>
                            <p class="fs-17">BSC Smart Chain</p>
                        </li>
                        <li>
                            <h5>Token Standard</h5>
                            <p class="fs-17">BEP20 </p>
                        </li>
                        <li onclick="window.open('https://bscscan.com/token/0x701C663C974668B01C654f5AcedF4798b3CB1224', '_blank');">
                            <h5>Token Standard</h5>
                            <a class="fs-17" href="https://bscscan.com/token/0x701C663C974668B01C654f5AcedF4798b3CB1224" target="_blank">0x701C663C9...b3CB1224</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-7">
                <div class="row mt-25">
                    <div class="col-md-8 col-sm-6">
                        <div class="chart-container">
                            <div class="custom-display">
                                <div id="chartdiv"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div id="legend"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="token-details document style-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block-text center">
                    <h3 class="heading">Token details</h3>
                    <p class="fs-17 mt-16">Our token allocation storage address details</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-4 col-md-6">
                <div class="token-details-box">
                    <h5 class="title">Claim to Earn</h5>
                    <p class="fs-17">
                        <a href="https://bscscan.com/address/0x8a7AED95E863ca96dd42cB4E5D47cC61De6520Be#tokentxns" target="_blank">0x8a7AED95E8.....D47cC61De6520Be</a>
                    </p>                                                                                             
                </div>                                                                                               
            </div>                                                                                                   
            <div class="col-xl-4 col-md-6">                                                                          
                <div class="token-details-box">                                                                      
                    <h5 class="title">Fund For Children</h5>                                                         
                    <p class="fs-17">                                                                                
                        <a href="https://bscscan.com/address/0x62dEC37fCaf10dF47D22C102E2C50A42459d7681#tokentxns" target="_blank">0x62dEC37fCa.....2C50A42459d7681</a>
                    </p>                                                                                             
                </div>                                                                                               
            </div>                                                                                                   
            <div class="col-xl-4 col-md-6">                                                                          
                <div class="token-details-box">                                                                      
                    <h5 class="title">Future Trade</h5>                                                              
                    <p class="fs-17">                                                                                
                        <a href="https://bscscan.com/address/0x5A5aC39597378c06e6B5806691508D948b9f27e0#tokentxns" target="_blank">0x5A5aC39597.....1508D948b9f27e0</a>
                    </p>                                                                                             
                </div>                                                                                               
            </div>                                                                                                   
            <div class="col-xl-4 col-md-6">                                                                          
                <div class="token-details-box">                                                                      
                    <h5 class="title">Future Refund</h5>                                                             
                    <p class="fs-17">                                                                                
                        <a href="https://bscscan.com/address/0x78C89037BAF8d1d350488F1836e0025d6F5F8bfA#tokentxns" target="_blank">0x78C89037BA.....6e0025d6F5F8bfA</a>
                    </p>                                                                                             
                </div>                                                                                               
            </div>                                                                                                   
            <div class="col-xl-4 col-md-6">                                                                          
                <div class="token-details-box">                                                                      
                    <h5 class="title">GameFi</h5>                                                                    
                    <p class="fs-17">                                                                                
                        <a href="https://bscscan.com/address/0x42E2810A8Bc7EC95eE053FB20dCCB32623c0bb70#tokentxns" target="_blank">0x42E2810A8B.....dCCB32623c0bb70</a>
                    </p>                                                                                             
                </div>                                                                                               
            </div>                                                                                                   
            <div class="col-xl-4 col-md-6">                                                                          
                <div class="token-details-box active">
                    <h5 class="title">Publish Sale</h5>                                                              
                    <p class="fs-17">                                                                                
                        <a href="https://bscscan.com/address/0x5598052DfbB8E09c236861D8eC6fd1f181ea1A8F#tokentxns" target="_blank">0x5598052Dfb.....C6fd1f181ea1A8F</a>
                    </p>                                                                                             
                </div>                                                                                               
            </div>                                                                                                   
            <div class="col-xl-4 col-md-6">                                                                          
                <div class="token-details-box">                                                                      
                    <h5 class="title">Marketing</h5>                                                                 
                    <p class="fs-17">                                                                                
                        <a href="https://bscscan.com/address/0x4D4972f7AE040BC456a2A6833a36d7594308EE05#tokentxns" target="_blank">0x4D4972f7AE.....a36d7594308EE05</a>
                    </p>                                                                                             
                </div>                                                                                               
            </div>                                                                                                   
            <div class="col-xl-4 col-md-6">                                                                          
                <div class="token-details-box">                                                                      
                    <h5 class="title">Dev</h5>                                                                       
                    <p class="fs-17">                                                                                
                        <a href="https://bscscan.com/address/0x6D5Cb752dE8E30bb8b3edAAe4479ff57689Bc8C5#tokentxns" target="_blank">0x6D5Cb752dE.....479ff57689Bc8C5</a>
                    </p>                                                                                             
                </div>                                                                                               
            </div>                                                                                                   
            <div class="col-xl-4 col-md-6">                                                                          
                <div class="token-details-box">                                                                      
                    <h5 class="title">Pool</h5>                                                                      
                    <p class="fs-17">                                                                                
                        <a href="https://bscscan.com/address/0xA7D4A3400592347Bc7D70550a5d810EA9BC596B7#tokentxns" target="_blank">0xA7D4A34005.....5d810EA9BC596B7</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>