@using Core.Data.Enums;
@using Core.Utilities.Extensions;


<td>
    <div class="symbol symbol-50px">
        <img src="~/images/pilogo.png" alt="" />
    </div>
</td>
<td>
    <a href="#" target="_blank" class="text-dark fw-bold text-hover-primary mb-1 fs-5">@Unit.PI.GetDescription() Network</a>
    <span class=" fw-semibold d-block fs-6 PiNetworkFutureAmount">0.0000</span>
</td>
<td>
    <span class=" fw-semibold d-block fs-6">@Unit.PI.GetDescription() Network </span>

</td>

<td class="text-end">
    <button class="btn btn-sm btn-light-dark text-gray-800 me-2 btnTransferMain"
            data-tokencode="@Unit.PI.GetDescription()"
            data-unit="@((int)Unit.PI)">
        Transfer
    </button>
    
</td>